{% extends 'base.html' %}

{% block encabezado %}
<h1 class="text-center"> Canciones que más veces han recibido 12 puntos </h1>
{% endblock %}


{% block contenido %}
<center>
<table class="table table-bordered w-auto">
    <thead>
    <tr>
        <th>Canción</th>
    
        <th>País</th>
    
        <th>Num. 12 puntos</th>
    </tr>
    </thead>
    {% for c in canciones %}
    <tr>
    <td>{{c.titulo}}</td>
    <td>{{c.pais}}</td>
    <td>{{c.num_doce_puntos}}</td>
    <!-- <td>{{p.num_doce_puntos}}</td> -->
    </tr>
    {% endfor %}
    </table>



{% endblock %}
</center>